<!DOCTYPE html>
<html>
  <title>TP FINAL - ENTREGA 1</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", Arial, Helvetica, sans-serif;
    }
  </style>
</html>
<body class="w3-light-grey">
  <!-- Navigation Bar -->
  {{#admin}} {{> headerAdmin}} {{/admin}} {{^admin}} {{> header}} {{/admin}}

  <div class="container pt-5 my-3 border">
    <h2 class="text-center">Buscar usuario</h2>

    <table class="table table-bordered my-5">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Rol</th>
        </tr>
      </thead>

      <tbody>
        {{#usuarios}}
        <tr>
          <td>{{nombre}}</td>
          <td>
            {{#rol}}
            <form method="POST" action="/login/actualizarRol">
              <div class="row">
                <div class="col-md-8">
                  <select name="rol" class="form-control">
                    {{#roles}}
                    <option id="select" value="{{id}}">{{nombre}}</option>
                    {{/roles}}
                  </select>
                </div>
                <div class="col-md-4">
                  <input type="hidden" name="usuario" value="{{id}}" />
                  <button class="btn btn-dark">Actualizar rol</button>
                </div>
              </div>
            </form>
            {{/rol}}
          </td>
        </tr>
        {{/usuarios}}
      </tbody>
    </table>
  </div>
</body>
