<!DOCTYPE html>
        <html>
        <title>TP FINAL - ENTREGA 1</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", Arial, Helvetica, sans-serif;
        }
    </style>
<body class="w3-light-grey">
<!-- Navigation Bar -->
{{#admin}} {{> headerAdmin}} {{/admin}} {{^admin}} {{> header}} {{/admin}}
<!-- Header -->
<header class="w3-display-container w3-content" style="max-width: 1500px">
    <img
            class="w3-image"
            src="https://estaticos.muyinteresante.es/media/cache/1140x_thumb/uploads/images/article/6113c9635bafe88526636b24/galaxias-cercanas_0.jpg"
            alt="The Hotel"
            style="min-width: 1000px; height: 600px !important"
            width="1500"
    />
    <div class="w3-display-left w3-col w3-margin">
        <div class="w3-container w3-red w3-padding">
            <h2><i class="fa fa-plane w3-margin-right"></i>Datos sus vuelos</h2>
        </div>
            <table class="w3-table w3-light-grey">
                <tr>
                    <th>Cantidad de reservas</th>
                    <th>Codigo Comprobante</th>
                    <th>Dia</th>
                    <th>Duracion</th>
                    <th>Horario</th>
                    <th>Lugar de partida</th>
                    <th>Tipo de vuelo</th>
                </tr>
                {{#datos}}
                <tr>
                    <td>{{cantidad_pasajeros}}</td>
                    <td>{{comprobante}}</td>
                    <td>{{dia}}</td>
                    <td>{{duracion}}</td>
                    <td>{{horario}}</td>
                    <td>{{partida}}</td>
                    <td>{{tipo_vuelo}}</td>
                </tr>
                {{/datos}}
            </table>
    </div>
</header>

<!-- Footer -->
{{> footer}}
</body>
</html>
</title>
</head>
<body>

</body>
</html>