<!DOCTYPE html>
<html>
  <title>TP FINAL - ENTREGA 1</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", Arial, Helvetica, sans-serif;
    }
  </style>
</html>
<body class="w3-light-grey">
  <!-- Navigation Bar -->
  {{#admin}} {{> headerAdmin}} {{/admin}} {{^admin}} {{> header}} {{/admin}}
  {{#msg}}
  <div class="w3-panel w3-red">{{msg}}</div>
  {{/msg}} {{#error}}
  <div class="w3-panel w3-red">{{error}}</div>
  {{/error}}

  <div class="cuerpo w3-margin w3-bar">
    <div class="w3-margin">
      <a href="/perfilAdmin/showCrearVuelo" class="w3-button w3-black"
        >Programar vuelos semanales</a
      >
      <a class="w3-btn w3-teal" href="/reporte/getOcupacion">Tasa de ocupación por viaje y equipo</a>
      <a class="w3-btn w3-teal" href="/reporte/getCabinaMasVendida">Cabina mas vendida</a>
    </div>

    <div class="container pt-5 my-3 busquedas w3-margin">
      <h2 class="text-center">Usuarios</h2>

      <table class="table table-bordered my-5">
        <thead>
          <tr>
            <th>Id Usuario</th>
            <th>Usuario</th>
            <th>Rol</th>
          </tr>
        </thead>

        <tbody>
          {{#usuarios}}
          <tr>
            <td>{{idusuario}}</td>
            <td>{{usuario}}</td>
            <td>
              <form
                method="POST"
                action="/perfilAdmin/actualizarRol"
                class="centrado"
              >
                {{rol}}
                <div class="row centrado" style="display: flex">
                  <div class="col-md-8">
                    Cambiar a:
                    <select name="rol" class="form-control">
                      <option id="select" value="ADMIN">ADMIN</option>
                      <option id="select" value="USUARIO">USUARIO</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <input type="hidden" value="{{usuario}}" name="usuario" />
                    <button class="btn btn-dark">Actualizar rol</button>
                  </div>
                </div>
              </form>
            </td>
          </tr>
          {{/usuarios}}
        </tbody>
      </table>
    </div>

    <div class="container pt-5 my-3 busquedas w3-margin">
      <h2 class="text-center">Vuelos Activos</h2>

      <table class="table table-bordered my-5">
        <thead>
          <tr>
            <th>Id de Vuelo</th>
            <th>Id de Equipo</th>
            <th>Tipo de Vuelo</th>
            <th>Dia</th>
            <th>Duracion</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>General Disponible</th>
            <th>Familiar Disponible</th>
            <th>Suite Disponible</th>
          </tr>
        </thead>

        <tbody>
          {{#vuelos}}
          <tr>
            <td>{{idvuelo}}</td>
            <td>{{equipo_id}}</td>
            <td>{{tipo_vuelo}}</th>
            <td>{{dia}}</th>
            <td>{{duracion}}</th>
            <td>{{origen}}</th>
            <td>{{destino}}</th>
            <td>{{general}}</th>
            <td>{{familiar}}</th>
            <td>{{suite}}</th>
          </tr>
          {{/vuelos}}
        </tbody>
      </table>
    </div>

    <div class="container pt-5 my-3 busquedas w3-margin">
      <h2 class="text-center">Vuelos Semanales</h2>

      <table class="table table-bordered my-5">
        <thead>
          <tr>
            <th>Id de Vuelo</th>
            <th>Id de Equipo</th>
            <th>Tipo de Vuelo</th>
            <th>Dia</th>
            <th>Duracion</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Horario</th>
          </tr>
        </thead>

        <tbody>
          {{#semanales}}
          <tr>
            <td>{{idvuelo_semanal}}</td>
            <td>{{equipo_id}}</td>
            <td>{{tipo_vuelo}}</th>
            <td>{{dia}}</th>
            <td>{{duracion}}</th>
            <td>{{partida}}</th>
            <td>{{destino}}</th>
            <td>{{horario}}</th>
          </tr>
          {{/semanales}}
        </tbody>
      </table>
    </div>

    <div class="container pt-5 my-3 busquedas w3-margin">
      <h2 class="text-center">Equipos de Vuelo</h2>

      <table class="table table-bordered my-5">
        <thead>
          <tr>
            <th>Id de Equipo</th>
            <th>Modelo</th>
            <th>Matricula</th>
            <th>Tipo de Vuelo</th>
            <th>Capacidad Total</th>
            <th>Capacidad General</th>
            <th>Capacidad Familiar</th>
            <th>Capacidad Suite</th>
          </tr>
        </thead>

        <tbody>
          {{#equipos}}
          <tr>
            <td>{{idequipo}}</td>
            <td>{{modelo}}</td>
            <td>{{matricula}}</th>
            <td>{{tipo}}</th>
            <td>{{capacidad}}</th>
            <td>{{general}}</th>
            <td>{{familiar}}</th>
            <td>{{suite}}</th>
          </tr>
          {{/equipos}}
        </tbody>
      </table>
    </div>

    <div class="container pt-5 my-3 busquedas w3-margin">
      <h2 class="text-center">Turnos Medicos</h2>

      <table class="table table-bordered my-5">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Sede</th>
            <th>Fecha</th>
            <th>Resultado</th>
          </tr>
        </thead>

        <tbody>
          {{#turnos}}
          <tr>
            <td>{{usuario}}</td>
            <td>{{nombre}}</td>
            <td>{{dia}}</td>
            <td>{{nivelVuelo}}</td>
          </tr>
          {{/turnos}}
        </tbody>
      </table>
    </div>

    <div class="container pt-5 my-3 busquedas w3-margin">
      <h2 class="text-center">Reservas</h2>

      <table class="table table-bordered my-5">
        <thead>
          <tr>
            <th>Id Reserva</th>
            <th>Id de Vuelo</th>
            <th>Id de Usuario</th>
            <th>Comprobante</th>
            <th>Tipo de Asiento</th>
            <th>Numero</th>
            <th>Fila</th>
            <th>Servicio</th>
          </tr>
        </thead>

        <tbody>
          {{#reservas}}
          <tr>
            <td>{{idreserva}}</td>
            <td>{{vuelo_id}}</td>
            <td>{{usuario_id}}</th>
            <td>{{comprobante}}</th>
            <td>{{tipo_asiento}}</th>
            <td>{{numero_asiento}}</th>
            <td>{{fila_asiento}}</th>
            <td>{{tipo_servicio}}</th>
          </tr>
          {{/reservas}}
        </tbody>
      </table>
    </div>

    <div class="container pt-5 my-3 busquedas w3-margin">
      <h2 class="text-center">Lista de Espera</h2>

      <table class="table table-bordered my-5">
        <thead>
          <tr>
            <th>Id de Usuario</th>
            <th>Id de Vuelo</th>
          </tr>
        </thead>

        <tbody>
          {{#lista}}
          <tr>
            <td>{{idusuario}}</td>
            <td>{{idvuelo}}</td>
          </tr>
          {{/lista}}
        </tbody>
      </table>
    </div>
  </div>
  {{> footer}}
</body>

<style>
  .cuerpo {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }

  .busquedas {
    width: 80%;
    border: 2px solid red;
    border-radius: 15px;
    padding: 10px;
  }

  table,
  tbody {
    width: 100%;
  }

  td {
    text-align: center !important;
  }

  .centrado {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
</style>
