<!DOCTYPE html>
<html>
<title>TP FINAL - ENTREGA 1</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway"
/>
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", Arial, Helvetica, sans-serif;
    }
</style>
<body class="w3-light-grey">
<!-- Navigation Bar -->
{{#admin}} {{> headerAdmin}} {{/admin}} {{^admin}} {{> header}} {{/admin}}
<!-- Header -->
<header class="w3-display-container w3-content" style="max-width: 1500px">
    <img
            class="w3-image"
            src="https://estaticos.muyinteresante.es/media/cache/1140x_thumb/uploads/images/article/6113c9635bafe88526636b24/galaxias-cercanas_0.jpg"
            alt="The Hotel"
            style="min-width: 1000px; height: 600px !important"
            width="1500"
    />
    <div class="w3-display-left w3-padding w3-col l6 m8">
        <div class="w3-container w3-red">
            <h2>
                <i class="fa fa-plane w3-margin-right"></i>Elegi tu viaje
            </h2>
        </div>
        <div class="w3-container w3-white w3-padding-16">
            <form
                    action="/vuelos/showVuelos"
                    method="post"
            >
                <div class="w3-row-padding" style="margin: 8px -16px">
                    <div class="w3-half" style="width: 100%">
                        <label for="origen"
                        ><i class="fas fa-plane-departure"></i> Lugar de salida:</label
                        >
                        <select class="w3-input w3-border" name="origen" required>
                            <option value="Buenos Aires">Buenos Aires</option>
                            <option value="Ankara">Ankara</option>
                        </select>
                    </div>
                </div>
                <div class="w3-row-padding" style="margin: 8px -16px">
                    <div class="w3-half" style="width: 100%">
                        <label for="destino"
                        ><i class="fas fa-plane-arrival"></i> Lugar de destino:</label
                        >
                        <select class="w3-input w3-border" name="destino" required>
                            <option value="Estacion Espacial Internacional">Estacion Espacial Internacional</option>
                            <option value="OrbiterHotel">OrbiterHotel</option>
                            <option value="Luna">Luna</option>
                            <option value="Marte">Marte</option>
                            <option value="Ganimedes">Ganimedes</option>
                            <option value="Europa">Europa</option>
                            <option value="Lo">Lo</option>
                            <option value="Encendalo">Encendalo</option>
                            <option value="Titan">Titan</option>
                        </select>
                    </div>
                </div>
                <div class="w3-row-padding" style="margin: 8px -16px">
                    <div class="w3-half w3-margin-bottom" style="width: 100%">
                        <label for="dia"><i class="fa fa-calendar-o"></i> Dia:</label>
                        <input
                                class="w3-input w3-border"
                                type="date"
                                name="dia"
                                required
                        />
                    </div>
                </div>
                <button class="w3-button w3-dark-grey" type="submit">
                    <i class="fa fa-search w3-margin-right"></i> Buscar vuelos
                </button>
</header>

<!-- Footer -->
{{> footer}}
</body>
</html>
