<!DOCTYPE html>
<html>
  <title>TP FINAL - ENTREGA 1</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", Arial, Helvetica, sans-serif;
    }
  </style>
  <body class="w3-light-grey">
    <!-- Navigation Bar -->
    {{#admin}} {{> headerAdmin}} {{/admin}} {{^admin}} {{> header}} {{/admin}}
    <!-- Header -->
    <header class="w3-display-container w3-content" style="max-width: 1500px">
      <img
        class="w3-image"
        src="https://estaticos.muyinteresante.es/media/cache/1140x_thumb/uploads/images/article/6113c9635bafe88526636b24/galaxias-cercanas_0.jpg"
        alt="The Hotel"
        style="min-width: 1000px; height: 600px !important"
        width="1500"
      />
      <div class="w3-display-left w3-col">
        <div class="w3-container w3-red w3-padding">
          <h2>
            <i class="fa fa-clinic-medical w3-margin-right"></i>Vuelos
            disponibles para el dia {{dia}}
          </h2>

          <form
            action="/procesarReserva/showVuelo"
            method="POST"
            style="margin-top: 10px"
          >
            <table class="w3-table w3-light-grey">
              <tr>
                <th></th>
                <th>Día</th>
                <th>Equipo</th>
                <th>Duracion</th>
                <th>Horario Partida</th>
                <th>Tipo de vuelo</th>
                <th>Origen</th>
                <th>Destino</th>
              </tr>
              {{#vuelos}}

              <tr>
                <td>
                  <label for="idvuelo"></label
                  ><input
                    type="radio"
                    name="idvuelo"
                    value="{{idvuelo_semanal}}"
                    checked
                  />
                </td>
                <td>
                  {{dia}}<label for="fecha"></label
                  ><input type="hidden" value="{{fecha}}" name="fecha" />
                </td>
                <td>{{modelo}}</td>
                <td>{{duracion}}</td>
                <td>{{horario}}</td>
                <td>{{tipo_vuelo}}</td>
                <td>{{origen}}</td>
                <td>{{destino}}</td>
              </tr>
              {{/vuelos}}
            </table>
            <input
              type="submit"
              value="Elegir asientos"
              class="w3-btn w3-white w3-margin-top"
            />
          </form>
          {{^vuelos}}
          <div>
            No se encontraron vuelos disponibles para el origen / destino / dia
            indicados.
          </div>
          {{/vuelos}} {{#msg}}
          <div class="w3-green w3-padding w3-margin-top">{{msg}}</div>
          {{/msg}} {{#error}}
          <div class="w3-grey w3-padding w3-margin-top">{{error}}</div>
          {{/error}}
        </div>
      </div>
    </header>

    <!-- Footer -->
    {{> footer}}
  </body>
</html>
